<div class="nav-collapse">
    @if (Request.IsAuthenticated) {
      
        <div class="dropdown nav pull-right">
        
                <a class="dropdown-toggle navbar-text" data-toggle="dropdown" href="#">@User.Identity.Name</a>
        
            <ul  class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>@Html.ActionLink("Beheer", "Manage", "Account")</li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                    @Html.AntiForgeryToken()
                    <li> <a href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a>  </li>
                } 
         
            </ul>
        </div> 
 
    } else {
    <ul class="nav pull-right">
         <li>@Html.ActionLink("Log in", "Logon", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
</div>