 <div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn" href="/Assignment/Contents">List Contests</a>
        <a class="btn" href="/Assignment/Index">List Assignments</a>
        <a class="btn" href="/Assignment/Add">Add Assignment</a>
    </div>
</div>