 <div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn" href="/Contest">Wedstrijden Lijst</a>
        <a class="btn" href="/Assignment/Index">Opdrachten Lijst</a>
        
        <a class="btn" href="/Contest/Create">Wedstrijd Toevoegen</a>
        <a class="btn" href="/Assignment/Create">Opdracht Toevoegen</a>
    </div>
</div>