<hr>
 
              
 <div class="jumbotron">
        <h1>Ready for a challenge?</h1>
        <p class="lead">Geïnteresseerd om te komen werken voor info support? Bewijs jezelf als de programmeur die wij nodig hebben!</p>
        @if (Request.IsAuthenticated) { <a class="btn btn-large btn-success" href="@Url.Action("Index", "Editor")">Start Programmeren</a> } else {
            <a class="btn btn-large btn-success" href="@Url.Action("Logon", "Account")">LinkedIn Registratie</a>
        }
      </div>
   
      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Wedstrijd</h4>
          <p>Los opdrachten op in een zo kort mogelijke tijd, strijd tegen andere programmeurs om te laten zien waar jij staat op de ladder.</p>

          <h4>Java</h4>
          <p>Los uitdagende opdrachten op door gebruik te maken van de meest populaire programmeertaal van dit moment.</p>

         </div>

        <div class="span6">
          <h4>Programmeren</h4>
          <p>Elke programmeur heeft dezelfde editor tot zijn beschikking met veel vertrouwde functies. Zo krijgt iedereen dezelfde kans.</p>

          <h4>Contact</h4>
          <p>Zijn we onder de indruk van je score? Dan nemen wij misschien wel contact met je op voor een gesprek!</p>

              </div>
      </div>

      <hr>   