/**
 * Markup for Editor/IDE environment for JavaProgrammingContest
 */
body {
    overflow: hidden;
}

.editor-row {
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    bottom: 0;
}

.pane {
    position: absolute;
    top: 0;
    bottom: 0;
}

/************************************ Editor/Content Pane *************************************/
.pane.editor {
    right: 0;
    left: 20%;
}

.pane.editor .btn-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 6px 10px;
    border-bottom: #555 solid 2px;
    background-color: #333;
}

.pane.editor > .tabbable {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333;
    z-index: 40;
}
.pane.editor > .tabbable .nav {
    margin-bottom: 0;
}
.pane.editor > .tabs-below > .nav-tabs {
    border-top: #555 2px solid;
}

/***-------- Editor/Content Pane Tab Markup ---------***/
#EditorPane, #ConsolePane, #AssignmentPane, #SplitviewPane {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 37px;
    background-color: #f0f0f0;
}
#EditorPane, #ConsolePane, #SplitviewPane, #AssignmentPane {
    z-index: 10;
}

.activePane {
    z-index: 20 !important;
    display: block !important;
}

/*** Codemirror ***/
#EditorPane .CodeMirror,
#EditorPane .CodeMirror-scroll {
    height: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*** Console Pane ***/
#ConsolePane > .tabbable .nav {
    margin: 0;
}

#ConsolePane > .tabbable .tab-content, #ConsolePane > .tabbable {
    height: 100%;
}
#ConsolePane > .tabbable .tab-content {
    background-color: white;
    overflow: auto;
}

#buildStream, #outputStream, #errorStream {
    font-family: courier;
    text-wrap: none;
    padding: 6px 15px;
    margin: 0;
}

/*** Assignment Pane/Tab ***/
#AssignmentPane {
    top: 0;
    padding: 10px 14px;
    display: none;
}
#AssignmentPane .properties {
    float:right;
    min-width: 200px;
    width: 300px;
    margin-left: 8px;
    margin-right: 20px;
    min-height: 50px;
    border-left: 2px solid #ccc;
    padding: 6px 10px 28px 10px;
    text-align: center;
}
#AssignmentPane .properties span {
    display: block;
    font-family: monospace;
    font-weight: 200;
    font-size: 36px;
    padding-top: 6px;
    padding-bottom: 16px;
}

/******************************* Assignment markup *******************************/
.pane.assignments {
    left: 0;
    right: 80%;

    border-right: 3px solid #555;
    background-color: #333;

    overflow-y: auto;
    overflow-x: hidden;
}

.pane.assignments h2 {
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: right;
    padding: 1px 9px;
}

.pane.assignments ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 48px;
    left: 8px;
    right: -1px;
}

.pane.assignments li {
    background-color: #f0f0f0;
    border: 1px solid #333;
    border-radius: 2px;
    box-shadow: #333 0px 0px 5px;
    margin: 7px 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 42px;
}

.pane.assignments li:hover {
    box-shadow: #222 0px 0px 10px;
}

.pane.assignments li:first-child {
    margin: 0;
}

.pane.assignments li h3 {
    margin: 0;
    padding: 0;
    margin-right: 5px;
    font-size: 28px;
    line-height: 42px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.pane.assignments li img {
    margin-top: 22px;
    width: 100%;
}