/**
 * Markup for Editor/IDE environment for JavaProgrammingContest
 */

.editor-row {
    position: absolute;
    top: 40px;
    left: 0;
    right: 3px;
    bottom: 3px;
}

.pane {
    position: absolute;
    top: 2px;
    bottom: 1px;
}

.pane.assignments {
    top: 4px;
    left: 0;
    right: 81%;

    border-right: 1px solid #999;
    overflow-y: auto;
    overflow-x: hidden;
}

.pane.editor {
    right: 1px;
    left: 20%;
}

.pane.editor .btn-toolbar {
    position: absolute;
    top: 0;
    left: 3px;
    right: 3px;
}

#ContestEditor .CodeMirror {
    position: absolute;
    top: 50px;
    left: 3px;
    right: 3px;
    bottom: 2px;
}
#ContestEditor .CodeMirror-scroll {
    height: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.pane.assignments ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 8px;
    right: 8px;
}

.pane.assignments li {
    border: 1px solid #333;
    border-radius: 2px;
    box-shadow: #333 0px 0px 5px;
    margin: 10px 0;
    padding: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.pane.assignments li:hover {
    box-shadow: #222 0px 0px 10px;
}

.pane.assignments li:first-child {
    margin: 0;
}

.pane.assignments li h3 {
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 20px;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pane.assignments li img {
    margin-top: 22px;
    width: 100%;
}