.navbar .brand {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: visible;
    max-height: 30px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }