@{
    ViewBag.Title = "Index";
}

 @Styles.Render("~/Content/CodeMirror")
 @Scripts.Render("~/Script/CodeMirror")

<div class="editor-row">
    <div class="pane assignments" id="AssignmentList"> 
                <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul> 
    </div>
    <div class="pane editor">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn" href="#"><i class="icon-hdd"></i> <u>S</u>ave</a>
                <a class="btn" href="#"><i class="icon-repeat"></i> Reset</a>
            </div>
            <div class="btn-group">
                <a class="btn" href="#"><i class="icon-cog"></i> Sett<u>i</u>ngs</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-tint"></i> Theme <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-theme="eclipse">Eclipse (Default)</a></li>
                    <li><a href="#" data-theme="monokai">Monokai</a></li>
                    <li><a href="#" data-theme="lesser-dark">Lesser-Dark</a></li>
                </ul>
            </div>
        </div>
        <div id="ContestEditor"></div>
    </div> 
</div>  