@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>QUnit TestSuite for JavaProgrammingContest</title>
        @Styles.Render("~/Content/QUnit")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Script/QUnit")
        
        @Scripts.Render("~/Script/Backbone")
    </head>
    <body>
        <h1 id="qunit-header">Programming Contest Javascript TestSuite</h1>
        <h2 id="qunit-banner"></h2>  
        <div id="qunit-testrunner-toolbar"></div>  
        <h2 id="qunit-userAgent"></h2>  
        <ol id="qunit-tests">test markup, hidden.</ol> 
    </body>
</html>